# Mac OS
.DS_Store

# NPM
/node_modules
npm-*
/mingw64
/gcc-arm-none-eabi
/pack
/Error
# Testing
/.nyc_output
/coverage
/zadig.exe
# Build
/build
/dist
/.opt-in

# Generated translation files
/translations
/locale
/resources