@import "../../css/colors.css";
@import "../../css/units.css";

.modal-content {
    width: fit-content;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
}

.header {
    background-color: $pen-primary;
}

.body {
    background: $ui-white;
}

.label {
    font-weight: 500;
    margin: 0 0 0.75rem;
}

.headArea {
    width: 100%;
    height: 70px;
    background-color: white;
    display: grid;
    place-items: center;
    padding: 10px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
}

.headUl,
.activityUl {
    width: 310px;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
}

.activityUl:hover {
    background-color: #f5f7fa;
}

.headUl {
    border: 1px solid #ebeef5;
}

.headUl:last-child {
    border-left: 0;
}

.activityUl {
    border: 1px solid #ebeef5;
    border-bottom: 0;
}

.activityUl:nth-child(4),
.activityUl:last-child {
    border-bottom: 1px solid #ebeef5;
}

.activityUl:nth-child(n+5) {
    border-left: 0;
}


.headUl>div,
.activityUl>div { 
    width: 50px;
    display: grid;
    place-items: center;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid #ebeef5;
    box-sizing: border-box;
}

.headUl>ul,
.activityUl>ul {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1;
}

.headUl>ul li,
.activityUl>ul li {
    min-width: 50px;
    max-width: 100px;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.activityArea {
    width: 100%;
    height: 220px;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    overflow: auto;
}

.activityArea::-webkit-scrollbar {
    width: 0.4rem;
}

.activityArea::-webkit-scrollbar-thumb {
    background-color: #CECDCE;
    border-radius: 3px;
}

.activityArea::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* .left-area,
.right-area {
    width: 310px;
    height: 200px;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}

.right-area .activityUl {
    border-left: 0;
} */

.bottom-area {
    background-color: $ui-white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: .75rem;
    padding-left: .75rem;
    padding-right: .75rem;
}

.bottom-area .bottom-area-item+.bottom-area-item {
    margin-top: 1rem;
}

.button-row {
    font-weight: bolder;
    text-align: center;
    display: flex;
}

.connection-button {
    padding: 0.6rem 0.75rem;
    border-radius: 0.5rem;
    background: $motion-primary;
    color: white;
    font-weight: 600;
    font-size: 0.85rem;
    margin: 0.25rem 1rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.red-button {
    color: #fff;
    background-color: #f56c6c;
}

.inp-span {
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: .8rem;
    margin: 0 10px;
    height: 29px;
    line-height: 29px;
    outline: none;
    padding: 0 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    max-width: 180px;
    cursor: pointer !important;
}

.red-button:hover {
    background: #f78989;
    border-color: #f78989;
    color: #fff;
}

.red-button:active {
    background: #dd6161;
    border-color: #dd6161;
    color: #fff;
}

.connection-button:disabled {
    background: $motion-transparent;
    cursor: not-allowed;
}


.alert {
    width: 100%;
    padding: 8px 16px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    opacity: 1;
    display: flex;
    align-items: center;
    transition: opacity .2s;
    font-size: 13px;
    line-height: 18px;
    color: red;
}

.alert-warning.is-light {
    background-color: #fdf6ec;
    color: #e6a23c;
}