.cascader-box {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
}

.cascader-dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center top;
    z-index: 2010;
    margin: 5px 0;
    font-size: 14px;
    background: #fff;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.cascader-dropdown::before {
    content: " ";
    border-width: 6px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: -6px;
    left: 100px;
    margin-right: 3px;
    border-top-width: 0;
    border-bottom-color: #fff;
}


.cascader-panel {
    display: flex;
    border-radius: 4px;
    font-size: 14px;
}

.cascader-menu {
    min-width: 180px;
    box-sizing: border-box;
    color: #606266;
    border-right: 1px solid #e4e7ed;
}

.cascader-menu:last-child {
    border-right: none;
}

.cascader-menu-wrap {
    /* margin-bottom: -15px; */
    /* margin-right: -15px; */
    height: 100%;
    /* max-height: 204px; */
}

.cascader-menu-wrap-list {
    position: relative;
    height: fit-content;
    margin: 0;
    padding: 6px 0;
    list-style: none;
    box-sizing: border-box;
}

.cascader-node {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    height: 34px;
    line-height: 34px;
    outline: none;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.cascader-node:hover {
    background: #f5f7fa;
}

.cascader-menu:last-child .el-cascader-node {
    padding-right: 20px;
}

.cascader-node>span {
    display: inline-block;
    height: 100%;
    flex: 1;
}

.inp-span[type="radio"] {
    width: 14px;
    font-size: .8rem;
    margin: 0 10px;
    outline: none;
    cursor: pointer !important;
}


.inp-span {
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: .8rem;
    margin: 0 10px;
    height: 29px;
    line-height: 29px;
    outline: none;
    /*padding: 0 15px;*/
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    max-width: 180px;
    cursor: pointer !important;
}

.inp-span:focus {
    border-color: #409eff;
}

.active {
    font-weight: 700;
    color: #606266;
}

.btn {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #f56c6c;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 7px 10px;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    background-color: #f56c6c;
}

.btn:hover {
    background: #f78989;
    border-color: #f78989;
    color: #fff;
}

.btn:active {
    background: #dd6161;
    border-color: #dd6161;
    color: #fff;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip:hover::before {
    content: attr(title);
    visibility: visible;
    width: auto;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    color: #606266;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.tooltip:hover::before {
    opacity: 1;
}

.tooltip:hover::after {
    content: " ";
    border-width: 6px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    margin-right: 3px;
    border-bottom-width: 0;
    border-top-color: #fff;
}