.tips-box {
    width: 100%;
    height: 25px;
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    box-sizing: border-box;
    background: rgb(253, 223, 183);
    color: rgb(169, 108, 52);
    z-index: 10000;
}
.tips-box span {
    margin: 0 20px;
}

.tips-success {
    background: rgb(195, 253, 183);
    color: rgb(52, 169, 58);
}