@import "../../css/colors.css";

.box {
    min-width: 37.5rem;
    min-height: 31.5rem;
    display: grid;
    place-items: center;
    background-color: white;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.mid-part,
.mid-right,
.mid-left,
.right,
.left,
.middle {
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    color: #606266;
}

.right {
    min-width: 100px;
    border-left: 1px solid #e7e7e7;
    flex-shrink: 0;
}

.left {
    min-width: 100px;
    border-right: 1px solid #e7e7e7;
    flex-shrink: 0;
}

.middle {
    min-width: 18.7rem;
    max-height: 50rem;
    justify-content: flex-start;
    /* flex-grow: 1; */
}

.block {
    width: 3.2rem;
    height: 3.2rem;
    margin: 1.3rem auto;
    line-height: 3.2rem;
    text-align: center;
    border-radius: 10px;
    user-select: none;
    color: $ui-white;
    background-color: var(--motion-primary);
}

.mid-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.mid-part,
.mid-right,
.mid-left {
    min-width: 300px;
    display: flex;
    justify-content: flex-start;
    /* max-width: 22rem; */
    padding: 0.7rem;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mid-part::-webkit-scrollbar,
.mid-right::-webkit-scrollbar,
.mid-left::-webkit-scrollbar {
    display: initial;
    width: 0.4rem;
}

.mid-part::-webkit-scrollbar-track,
.mid-right::-webkit-scrollbar-track,
.mid-left::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.mid-part::-webkit-scrollbar-thumb,
.mid-right::-webkit-scrollbar-thumb,
.mid-left::-webkit-scrollbar-thumb {
    background-color: #CECDCE;
    border-radius: 3px;
}

.mid-box {
    min-width: 365px;
    min-height: 8rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #dcdfe6;
    padding: 0.7rem;
    box-sizing: border-box;
    margin: 0.3rem 0;
    flex-shrink: 0;
    flex-grow: 1;
}

.mid-box p {
    margin: 0;
    color: #606266;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mid-ul li {
    min-width: 21rem;
    height: 2rem;
    display: flex;
    align-items: center;
    border: 1px solid #e4e7ed;
    background-color: #f5f7fa;
    color: #c0c4cc;
    border-radius: 5px;
    margin: 0.6rem 0;
}

.mid-ul li span {
    min-width: 6rem;
    height: 100%;
    display: grid;
    place-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0 0.35rem;
}

.mid-ul li span .col {
    display: inline-block;
    width: 4rem;
    height: 1rem;
}

.mid-ul li span:nth-child(1),
.mid-ul li span:nth-child(2) {
    border-right: 1px solid #e4e7ed;
}

.sel-exe {
    width: 100%;
    height: fit-content;
    max-height: 850px;
    list-style-type: none;
    overflow: auto;
    min-width: 400px;
}

.sel-exe::-webkit-scrollbar {
    width: 0.4rem;
}

.sel-exe::-webkit-scrollbar-thumb {
    background-color: #CECDCE;
    border-radius: 3px;
}

.sel-exe::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}


.sel-exe li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.4rem 0;
    width: 100%;
    height: 2.5rem;
    padding: 2rem 1.5rem;
    border-bottom: 1px solid #dcdfe6;
    cursor: pointer;
}

.sel-exe li div {
    flex-grow: 1;
    flex-shrink: 0;
}

.sel-exe li div:first-child>input {
    margin-right: 1rem;
}

.sel-exe li:last-child {
    border-bottom: unset;
}

.moving {
    background: transparent;
    color: transparent;
    border: 1px dashed #ccc;
}

.sel-exe .img {
    width: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.sel-exe .img img {
    margin: 0.32rem;
    user-select: none;
    -webkit-user-drag: none;
}

.sel-exe .img:last-child {
    cursor: unset;
}

.sel-exe .edit {
    width: 12.5rem;
}

.sel-exe .edit input {
    height: 1.8rem;
    padding: 1em;
    outline: none;
    border: 1px solid #ccc;
}

.sel-exe .edit .check {
    border-color: #1677ff;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    outline: 0;
}

.ban {
    cursor: not-allowed !important;
}

.device-sensing-box {
    width: 70%;
    height: 40px;
    position: absolute;
    top: 49.5px;
    left: 26%;
    z-index: 35;
    background: rgba(0, 0, 0, .2);
    border-radius: 6px;
    transition: all .7s;
}


@media screen and (min-width: 1450px) {
    .device-sensing-box {
        width: 70%;
        height: 40px;
        position: absolute;
        top: 49.5px;
        left: 19%;
        z-index: 35;
        background: rgba(0, 0, 0, .2);
        border-radius: 6px;
    }

}

.device-sensing-box ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.device-sensing-box ul::-webkit-scrollbar {
    display: none;
}

.device-sensing-box ul li {
    min-width: 120px;
    max-width: 240px;
    height: 100%;
    display: flex;
    padding: 0 5px;
    box-sizing: border-box;
}


.device-sensing-text {
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 2px;
    color: rgb(151, 151, 151);
}

.device-sensing-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
}

.device-sensing-content img {
    width: 25px;
    height: 25px;
}

.device-sensing-content .show-unit {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.device-sensing-content .show-unit label {
    height: 16px;
    text-align: center;
    color: #4C97FF;
    font-size: 12px;
    flex-grow: 1;
    margin-right: 5px;
    overflow: hidden;
}

.hide {
    display: none !important;
}

.dropdown-caret {
    width: 10px !important;
    height: 10px !important;
}

.device-sensing-unit,
.device-sensing-unit div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    color: #4C97FF;
    font-size: 12px;
    border-radius: 6px;
    user-select: none;
}

.device-sensing-unit {
    position: absolute;
    top: 40px;
    left: 0;
    background: rgba(0, 0, 0, .2);
    display: none !important;
}

.device-sensing-unit div span {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px;
    box-sizing: border-box;
}

.device-sensing-content:hover .device-sensing-unit {
    display: block !important;
}

.device-sensing-unit div span:hover {
    background: rgba(255, 255, 255, .7);
}
