@import "../../css/colors.css";

.mid-box {
    min-width: 380px;
    min-height: 8rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #dcdfe6;
    padding: 0.7rem;
    box-sizing: border-box;
    margin: 0.3rem 0;
    flex-shrink: 0;
    flex-grow: 1;
}

.mid-box p {
    margin: 0;
    color: #606266;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mid-ul li {
    min-width: 21rem;
    height: 2rem;
    display: flex;
    align-items: center;
    border: 1px solid #e4e7ed;
    background-color: #f5f7fa;
    color: #c0c4cc;
    border-radius: 5px;
    margin: 0.6rem 0;
}

.mid-ul li span {
    min-width: 6rem;
    height: 100%;
    display: grid;
    place-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0 0.35rem;
}

.mid-ul li span .col {
    display: inline-block;
    width: 4rem;
    height: 1rem;
}

.mid-ul li span:nth-child(1),
.mid-ul li span:nth-child(2) {
    border-right: 1px solid #e4e7ed;
}

.sel-exe {
    width: 100%;
    height: fit-content;
    max-height: 850px;
    list-style-type: none;
    overflow: auto;
    min-width: 400px;
}

.sel-exe::-webkit-scrollbar {
    width: 0.4rem;
}

.sel-exe::-webkit-scrollbar-thumb {
    background-color: #cecdce;
    border-radius: 3px;
}

.sel-exe::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.sel-exe li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.4rem 0;
    width: 100%;
    height: 2.5rem;
    padding: 2rem 1.5rem;
    border-bottom: 1px solid #dcdfe6;
    cursor: pointer;
}

.sel-exe li div {
    flex-grow: 1;
    flex-shrink: 0;
}

.sel-exe li div:first-child > input {
    margin-right: 1rem;
}

.sel-exe li:last-child {
    border-bottom: unset;
}

.sel-exe .img {
    width: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.sel-exe .img img {
    margin: 0.32rem;
    user-select: none;
    -webkit-user-drag: none;
}

.sel-exe .img:last-child {
    cursor: unset;
}

.sel-exe .edit {
    width: 12.5rem;
}

.sel-exe .edit input {
    height: 1.8rem;
    padding: 1em;
    outline: none;
    border: 1px solid #ccc;
}

.sel-exe .edit .check {
    border-color: #1677ff;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    outline: 0;
}

.ban {
    cursor: not-allowed !important;
}

.device-sensing-box {
    width: fit-content;
    height: 40px;
    position: absolute;
    top: 49.5px;
    left: 26%;
    z-index: 35;
    border-radius: 6px;
    transition: all 0.8s;
}

@media screen and (min-width: 1450px) {
    .device-sensing-box {
        /* border: 1px solid rgba(0, 255, 149, 0.884); */
        width: fit-content;
        height: 40px;
        position: absolute;
        top: 49.5px;
        left: 19%;
        z-index: 35;
        border-radius: 6px;
    }
}

.device-sensing-box ul {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: space-around; */
}

.device-sensing-box ul::-webkit-scrollbar {
    display: none;
}

.device-sensing-box ul li {
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-right: 0.4rem;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 8px;
    box-sizing: border-box;
    align-items: center;
    gap: 8px;
}

.device-sensing-text {
    font-size: 18px;
    font-weight: 700;
    padding: 2px;
    color: #909399;
    letter-spacing: 0.5px;
}

.device-sensing-content {
    /* border: 1px solid rgb(202, 228, 87); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 4px 0;
}

.device-sensing-content img {
    /* border: 1px solid rgb(59, 132, 226); */
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

/* 显示所有数据的容器 */
.showAllData {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    padding: 4px 0;
}

/* 单个数据项 */
.dataItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    line-height: 1.4;
}

/* 数据标签（如"距离:"、"按键:"） */
.dataLabel {
    font-size: 14px;
    font-weight: 500;
    color: #606266;
    white-space: nowrap;
    min-width: fit-content;
}

/* 数据值（如"255"、"0"） */
.dataValue {
    font-size: 18px;
    font-weight: 600;
    color: #303133;
    font-family: "Consolas", "Monaco", "Courier New", monospace;
    letter-spacing: 0.5px;
}
