@import "../../css/colors.css";

.box {
    min-width: 600px;
    min-height: 500px;
    display: grid;
    place-items: center;
    background-color: white;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.mid-right,
.mid-left,
.right,
.left,
.middle {
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    color: #606266;
}

.right {
    min-width: 100px;
    border-left: 1px solid #e7e7e7;
    flex-shrink: 0;
}

.left {
    min-width: 100px;
    border-right: 1px solid #e7e7e7;
    flex-shrink: 0;
}

/* .mid-right {
    min-width: 300px;
    border-left: 1px solid #e7e7e7;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10px;
}

.mid-left {
    min-width: 300px;
    border-right: 1px solid #e7e7e7;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10px;
} */

.middle {
    min-width: 300px;
    height: 100%;
    justify-content: flex-start;
    /* flex-grow: 1; */
}

.block {
    width: 50px;
    height: 50px;
    margin: 20px auto;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    user-select: none;
    color: $ui-white;
    background-color: var(--motion-primary);
}

/* .item {
    height: 100px;
} */

.mid-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.mid-part, .mid-right, .mid-left{
    min-width: 300px;
    max-height: 550px;
    padding: 10px;
    flex-shrink: 0;
    overflow-y: scroll;
}

.mid-part::-webkit-scrollbar,
.mid-right::-webkit-scrollbar,
.mid-left::-webkit-scrollbar {
    display: initial;
    width: 6px;
}

.mid-part::-webkit-scrollbar-track,
.mid-right::-webkit-scrollbar-track,
.mid-left::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.mid-part::-webkit-scrollbar-thumb,
.mid-right::-webkit-scrollbar-thumb,
.mid-left::-webkit-scrollbar-thumb {
    background-color: #CECDCE;
    border-radius: 3px;
}

.mid-box {
    min-width: 200px;
    min-height: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid #dcdfe6;
    padding: 10px;
    box-sizing: border-box;
    margin: 8px 0;
    flex-shrink: 0;
    flex-grow: 1;
}

.mid-box p {
    margin: 0;
    color: #606266;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mid-ul li {
    min-width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid #e4e7ed;
    background-color: #f5f7fa;
    color: #c0c4cc;
    border-radius: 5px;
    margin: 8px 0;
}

.mid-ul li span {
    min-width: 90px;
    height: 100%;
    display: grid;
    place-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0 5px;
}

.mid-ul li span .col {
    display: inline-block;
    width: 65px;
    height: 15px;
}

.mid-ul li span:nth-child(1),
.mid-ul li span:nth-child(2) {
    border-right: 1px solid #e4e7ed;
}

.sel-exe {
    width: 100%;
    height: 100%;
    list-style-type: none;
}

.sel-exe li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
    width: 100%;
    height: 40px;
    padding: 2rem 1.5rem;
    border-bottom: 1px solid #dcdfe6;
    cursor: pointer;
}

.sel-exe li div {
    flex-grow: 1;
    flex-shrink: 0;
}

.sel-exe li div:first-child>input {
    margin-right: 1rem;
}

.sel-exe li:last-child {
    border-bottom: unset;
}

.moving{
    background: transparent;
    color: transparent;
    border: 1px dashed #ccc;
}  

.sel-exe .img {
    width: 50px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.sel-exe .img img {
    margin: 5px;
    user-select: none;
    -webkit-user-drag: none;
}

.sel-exe .img:last-child {
    cursor: unset;
}

.sel-exe .edit {
    width: 200px;
}

.sel-exe .edit input {
    height: 28px;
    padding: 1em;
    outline: none;
    border: 1px solid #ccc;
}

.sel-exe .edit .check {
    border-color: #1677ff;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    outline: 0;
}

.ban{
    cursor: not-allowed !important;
}